.container2{
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container2 h1{
  font-size: 4rem;
  color: rgb(109, 108, 108);
  text-shadow: 0 0 .5rem black;
  letter-spacing: 1px;
  filter: drop-shadow(0 0 30px rgb(153, 28, 255)) brightness(130%);
}


/* img slider */

.imgSlider{
  width: 40rem;
  cursor:grab;
  filter: drop-shadow( 0 0 10px rgba(150, 105, 255, 0.253)) contrast(102%) brightness(105%);
}
