.containerSlider{
  width: 99.5vw;
  height: 100%;
}

.containerSlider video{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: -25rem;
  filter: hue-rotate(40deg) brightness(100%) contrast(105%) ;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}

.slider {
  width: 100%;
  display: flex;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  position: relative;
  top: -7rem;
  user-select: none;
}

.slide {
  display: flex;
  align-items: center;
  animation: slideshow 120s infinite linear;
  transition: all 1s ease;
}

.imgSlider {
  height: 40rem;
  padding: 0 15px;
}

@keyframes slideshow {
  0% { transform: translateX(10%); transition: all 1s ease;}
  100% { transform: translateX(-100%); transition: all 1s ease;}
}